/* Social Links
=================================================================== */

[class^="social-"],
[class*="social-"] {
	display: inline-block;
	width: 40px;
	height: 40px;
	*margin-right: .3em;
	line-height: 40px;
	vertical-align: text-top;
	background-image: url(../img/icons/social-icons-set-white.png);
	background-position: 40px 40px;
	background-repeat: no-repeat;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}

/* Retina Display Hack */

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
	
	[class^="social-"],
	[class*="social-"] {
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		vertical-align: text-top;
		background-image: url(../img/icons/social-icons-set-white.png);
		background-position: 40px 40px;
		background-repeat: no-repeat;
		background-size: 400px 320px;
	}	 
    
}

.social-forrst {
	background-position: -0px -0px;
}

.social-forrst:hover {
	background-position: -0px -40px;
	background-color: #5b9a68;
}

.social-dribbble {
	background-position: -40px -0px;
}

.social-dribbble:hover {
	background-position: -40px -40px;
	background-color: #ef5b92;
}

.social-twitter {
	background-position: -80px -0px;
}

.social-twitter:hover {
	background-position: -80px -40px;
	background-color: #48c4d2;
}

.social-flickr {
	background-position: -120px -0px;
}

.social-flickr:hover {
	background-position: -120px -40px;
	background-color: #f1628b;
}

.social-twitter2 {
	background-position: -160px -0px;
}

.social-twitter2:hover {
	background-position: -160px -40px;
	background-color: #48c4d2;
}

.social-facebook {
	background-position: -200px -0px;
}

.social-facebook:hover {
	background-position: -200px -40px;
	background-color: #3b5998;
}

.social-skype {
	background-position: -240px -0px;
}

.social-skype:hover {
	background-position: -240px -40px;
	background-color: #18b7f1;
}

.social-digg {
	background-position: -280px -0px;
}

.social-digg:hover {
	background-position: -280px -40px;
	background-color: #2882c6;
}

.social-google {
	background-position: -320px -0px;
}

.social-google:hover {
	background-position: -320px -40px;
	background-color: #dd4b39;
}

.social-html5 {
	background-position: -360px -0px;
}

.social-html5:hover {
	background-position: -360px -40px;
	background-color: #f3642c;
}


.social-linkedin {
	background-position: -0px -80px;
}

.social-linkedin:hover {
	background-position: -0px -120px;
	background-color: #71b2d0;
}

.social-lastfm {
	background-position: -40px -80px;
}

.social-lastfm:hover {
	background-position: -40px -120px;
	background-color: #d21309;
}

.social-vimeo {
	background-position: -80px -80px;
}

.social-vimeo:hover {
	background-position: -80px -120px;
	background-color: #62a0ad;
}

.social-yahoo {
	background-position: -120px -80px;
}

.social-yahoo:hover {
	background-position: -120px -120px;
	background-color: #ab64bc;
}

.social-tumblr {
	background-position: -160px -80px;
}

.social-tumblr:hover {
	background-position: -160px -120px;
	background-color: #3a5976;
}

.social-apple {
	background-position: -200px -80px;
}

.social-apple:hover {
	background-position: -200px -120px;
	background-color: #606060;
}

.social-microsoft {
	background-position: -240px -80px;
}

.social-microsoft:hover {
	background-position: -240px -120px;
	background-color: #230565;
}

.social-youtube {
	background-position: -280px -80px;
}

.social-youtube:hover {
	background-position: -280px -120px;
	background-color: #f45750;
}

.social-delicious {
	background-position: -320px -80px;
}

.social-delicious:hover {
	background-position: -320px -120px;
	background-color: #3274d1;
}

.social-rss {
	background-position: -360px -80px;
}

.social-rss:hover {
	background-position: -360px -120px;
	background-color: #fe9900;
}


.social-picassa {
	background-position: -0px -160px;
}

.social-picassa:hover {
	background-position: -0px -200px;
	background-color: #444;
}

.social-deviantart {
	background-position: -40px -160px;
}

.social-deviantart:hover {
	background-position: -40px -200px;
	background-color: #d0de21;
}

.social-technorati {
	background-position: -80px -160px;
}

.social-technorati:hover {
	background-position: -80px -200px;
	background-color: #7ac84f;
}

.social-stumbleupon {
	background-position: -120px -160px;
}

.social-stumbleupon:hover {
	background-position: -120px -200px;
	background-color: #eb4924;
}

.social-blogger {
	background-position: -160px -160px;
}

.social-blogger:hover {
	background-position: -160px -200px;
	background-color: #fb913f;
}

.social-wordpress {
	background-position: -200px -160px;
}

.social-wordpress:hover {
	background-position: -200px -200px;
	background-color: #464646;
}

.social-amazon {
	background-position: -240px -160px;
}

.social-amazon:hover {
	background-position: -240px -200px;
	background-color: #2f3842;
}

.social-appstore {
	background-position: -280px -160px;
}

.social-appstore:hover {
	background-position: -280px -200px;
	background-color: #0F73E4;
}

.social-paypal {
	background-position: -320px -160px;
}

.social-paypal:hover {
	background-position: -320px -200px;
	background-color: #32689a;
}

.social-myspace {
	background-position: -360px -160px;
}

.social-myspace:hover {
	background-position: -360px -200px;
	background-color: #003398;
}


.social-dropbox {
	background-position: -0px -240px;
}

.social-dropbox:hover {
	background-position: -0px -280px;
	background-color: #3083C7;
}

.social-windows {
	background-position: -40px -240px;
}

.social-windows:hover {
	background-position: -40px -280px;
	background-color: #01AEF3;
}

.social-pinterest {
	background-position: -80px -240px;
}

.social-pinterest:hover {
	background-position: -80px -280px;
	background-color: #cb2027;
}

.social-soundcloud {
	background-position: -120px -240px;
}

.social-soundcloud:hover {
	background-position: -120px -280px;
	background-color: #FF680D;
}

.social-googledrive {
	background-position: -160px -240px;
}

.social-googledrive:hover {
	background-position: -160px -280px;
	background-color: #FFCF63;
}

.social-android {
	background-position: -200px -240px;
}

.social-android:hover {
	background-position: -200px -280px;
	background-color: #A6C53B;
}

.social-behance {
	background-position: -240px -240px;
}

.social-behance:hover {
	background-position: -240px -280px;
	background-color: #18a3fe;
}

.social-instagram {
	background-position: -280px -240px;
}

.social-instagram:hover {
	background-position: -280px -280px;
	background-color: #E2D6C6;
}

.social-ebay {
	background-position: -320px -240px;
}

.social-ebay:hover {
	background-position: -320px -280px;
	background-color: #FE0000;
}

.social-googleplus {
	background-position: -360px -240px;
}

.social-googleplus:hover {
	background-position: -360px -280px;
	background-color: #d94a39;
}